#editor-wrap,
#preview-wrap {
  width: 50%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

#editor-header,
#preview-header {
  width: 99%;
  border: 1px solid black;
  background-color: #4aa3a3;
}

#editor,
#preview {
  width: 99%;
  max-width: 99%;
  border: 1px solid black;
  padding: 0;
  background-color: #c0d8d8;
}

#preview img {
  max-width: 70%;
  display: block;
  margin: 2rem auto;
}

#preview pre {
  background-color: white;
}

.maximize-window {
  color: #262a0f;
  float: right;
  padding-right: 1rem;
}
.maximize-window:hover {
  cursor: pointer;
  color: #57e2b1;
}

.hide {
  display: none;
}

.maximize {
  height: 80vh;
  overflow: scroll;
}
